<form class="form-inline mb-4" (ngSubmit)="onSubmit(listForm)" #listForm="ngForm">
  <div class="mx-sm-3">
      <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text">Uid</span>
          </div>
          <input type="text" class="form-control" name="uid"  pattern="[0-9]\d*" placeholder="Uid" #uid="ngModel" [(ngModel)]=uidNum>
      </div>
  </div>
  <div class="mx-sm-3">
      <div class="input-group">
          <div class="input-group-prepend">
              <span class="input-group-text" >Pid</span>
          </div>
          <input type="text" class="form-control" name="pid" pattern="[0-9]\d*" placeholder="Pid" #pid="ngModel" [(ngModel)]=pidNum>
      </div>
  </div>
  <div class="input-group">
      <div class="input-group-prepend">
          <label class="input-group-text" for="inputGroupSelect01">Verdict</label>
      </div>
      <select class="custom-select" name="result" [(ngModel)]=resultNum>
          <option value > -- select an option -- </option>
          <option *ngFor="let i of ResultCodes" value="{{i.val}}" [selected]="(i.val+'') === resultString">{{i.key}}</option>
      </select>
  </div>
  <div class="form-group">
      <button type="submit" class="btn btn-primary" [disabled]="listForm.invalid">Submit</button>
  </div>
</form>
<ngb-alert type="danger" [dismissible]="false" *ngIf="uid.invalid && (uid.dirty || uid.touched)">
    <strong>Error!</strong> Uid only can be an interger
</ngb-alert>
<ngb-alert type="danger" [dismissible]="false" *ngIf="pid.invalid && (pid.dirty || pid.touched)">
    <strong>Error!</strong> Pid only can be an interger
</ngb-alert>