<div id="title-blok-tmp">
  <div class="center">
    <div class="inputBox" *ngIf="!register">
      <div class="box-title">
        <h3>Sky Online Judge<br></h3>
        <h1>User Registry</h1><br>
      </div>
      <div class="form-group">
          <label for="typeahead-basic">Your Email:</label>
          <input id="typeahead-basic" type="text" class="form-control" placeholder="email">
          <label for="typeahead-basic">Nickname:</label>
          <input id="typeahead-basic" type="text" class="form-control" placeholder="nickname">
          <label for="typeahead-basic">Your password:</label>
          <input id="typeahead-basic" type="text" class="form-control" placeholder="password">
          <label for="typeahead-basic">Comfirm password:</label>
          <input id="typeahead-basic" type="text" class="form-control" placeholder="repeat passord again">
      <br>
      </div>
      <label class="btn-primary" ngbButtonLabel routerLink="/skyOJ">Register</label>
  </div>
</div>
