<nav class="navbar navbar-expand-lg navbar-light bg-ligh">
  <a class="navbar-brand" routerLink="/skyOJ">Sky online Judge</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" (click)="toggleCollapsed()" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon" ngToggler></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/problem">Problems</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/chal">Challenges</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contest">Contest</a>
      </li>
      <li class="nav-item dropdown" ngbDropdown>
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" ngbDropdownToggle>
          Tools
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" ngbDropdownMenu>
          <a class="dropdown-item" href="#">coder</a>
          <a class="dropdown-item" href="#">Scoreboard</a>
          <a class="dropdown-item" href="#">Code</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Dev message</a>
          <a class="dropdown-item" href="#">Discuss</a>
        </div>
      </li>
    </ul>
    <div class="ml-auto">
      <a class="nav-link" routerLink="/login">LOGIN</a>
    </div>
  </div>
</nav>