<app-image-bar></app-image-bar>
<div class="container custom-container-width">
    <div class="border-bottom mt-3 mb-3">
        <h1 class="inline">Challenge</h1>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline mb-4" action="">
                <div class="mx-sm-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">Uid</span>
                        </div>
                        <input type="text" class="form-control" value="{{uidString}}" name="uid" id="validationDefaultUsername" pattern="[0-9]\d*" placeholder="Uid" aria-describedby="inputGroupPrepend2">
                    </div>
                </div>
                <div class="mx-sm-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend2">Pid</span>
                        </div>
                        <input type="text" class="form-control" value="{{pidString}}" name="pid" id="validationDefaultUsername" pattern="[0-9]\d*" placeholder="Pid" aria-describedby="inputGroupPrepend2">
                    </div>
                </div>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Verdict</label>
                    </div>
                    <select class="custom-select" name="result" id="inputGroupSelect01">
                        <option value > -- select an option -- </option>
                        <option *ngFor="let i of ResultCodes" value="{{i.val}}" [selected]="(i.val+'') === resultString">{{i.key}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" (click)="SubmitClick()">Submit</button>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>使用者</th>
                        <th>題目</th>
                        <th>結果</th>
                        <th class="d-none d-sm-block">使用時間</th>
                        <th>分數</th>
                        <th>上傳時間</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">7122</a></td>
                        <td><a href="#">日月卦長</a></td>
                        <td><a href="#" title="金坷垃">
                            <span class="d-none d-sm-block">金坷垃</span>
                            <span class="d-sm-none">7123</span>
                        </a></td>
                        <td>Accept</td>
                        <td class="d-none d-sm-block">2217</td>
                        <td>100</td>
                        <td>2018-05-15 13:59:49</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <ngb-pagination class="d-flex justify-content-center mt-3" (pageChange)="loadPage($event)" [(page)]="page" [collectionSize]="120" [maxSize]="4" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
</div>