#image-bar {
    width: 100%;
    height: 100px;
    background-image: url(//i.imgur.com/KiKOjd6.jpg);
    background-size: cover;
    background-position: 0 65%;
}
.container.custom-container-width{
    max-width: 95%;
}